.notif-bell-icon{
    position: relative;
    transition: 0.25s ease-in-out;
    transform: scale(1.8);
}

.notif-bell-icon:hover{
    color: white;
    transform: scale(2.8);
}

.notif-bell-icon i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.notif-bell-icon .badge:after{
  content: "5";
  position: absolute;
  background: blue;
  height: 0.7rem;
  top: 1rem;
  right: 1rem;
  width: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.7rem;
  border-radius: 50%;
  color: white;
  border: 1px ridge white;
}

