

/* ---------------                      BreakPoint 1 - 1200px         -----------------------*/
@media screen and (max-width: 1200px){

	/*remove menu on nav bar*/
	#menu{
		display: none;
	}

	.favourites-button{
		display: none;
	}

	.favourite-icon i{
		display: none;
	}

	.aside-song-container i{
		display: none;
	}

	.artist-container-left img {
	    height: 100%;
	    width: 8vh;
	}

}


/* ---------------                      BreakPoint 2 - 970px         -----------------------*/
@media screen and (max-width: 970px) {

	.user-pic:hover #username{
		font-size: 20px;
		transform: scale(1.2) translateY(0.8rem) translateX(1rem) translateX(-3.2rem);
		color: white;
		font-family: serif;
	}
}


/* ---------------                      BreakPoint 2 - 900px         -----------------------*/
@media screen and (max-width: 900px) {

	#more i{
		display: none;
	}

	
	#jumbotron-container{
		justify-content: space-around;
	}

	.jumbotron-cover-pic{
		width: 100%;
	}

	.playlist-details{
		width: 100%;
		margin-top: 2vh;
	}


	/*Introduce Slider for Aside section*/
	#slider{
		
		display: inline-block;
		position: fixed;
		right: -5%;
		top: 10vh;

		width: 7%;
		height: 60%;
		border: 2.2px solid red;
		border-right: none;
		color: white;
		writing-mode: vertical-rl;
		text-orientation: upright;

		letter-spacing: -0.1rem;

		text-align: center;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		
	}


	.aside-section{
		opacity: 0;
		transition: all ease-in-out 0.9s;
	}

	.main-section{
		width: 95%;
		transition: all ease-in-out 0.9s;
	}


	/*make aside section appear on hover*/
	#slider:hover + .main-section{
		opacity: 0;
		width: 0%;
	}


	#slider:hover ~ .aside-section{
		opacity: 1;	
		width: 80%;
		position: relative;
		right: 10%;
	}


}


/* ---------------                      BreakPoint 3 - 800px         -----------------------*/
@media screen and (max-width: 800px){

	/*Music Player Bar*/
	#more{
		display: none;
	}

	.current-song-image-container{
		width: 7vh;
		height: 80%;
	}

	/*nav bar*/
	.notification-bell{
		display: none !important;
	}

	.user-pic:hover #username{
		transform: scale(1.2) translateY(0.8rem) translateX(1rem) translateX(-3.4rem);
	}

	.user-pic:hover img{
		transform: translateX(-3.9rem);
	}

	#footer p{
		display: none;
	}

	#footer{
		justify-content: space-between;
	}

	#cb3{
		display: none;
	}


	.player-controller{
		width: 40%;
	}


	.player-controller audio{
	font-size: 0.9rem;
	transform: scale(1.2);
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: revert;
	}


	.player-controller div{
		display: none;
	}

	#expand i{
		font-size: 1.1rem;
		margin: 0.5rem;
	}

}



/* ---------------                      BreakPoint 4 - 700px         -----------------------*/
@media screen and (max-width: 700px){

.search-bar{
		display: none !important;
	}


	footer{
		width: 100%;
		left: 0%;
		right: 0%;
	}
	

	.aside-song-container{
		min-width: 140;
	}


	.user-pic:hover #username{
		transform: scale(1.2) translateY(0.8rem) translateX(1rem) translateX(-6rem);
	}

	.user-pic:hover img{
		transform: translateX(-8rem);
	}

	.song-pic{
		width: 10vh;
		height: 8vh;
	}

	.song-description span{
		display: table-caption;
	}

	#random-icon{
		display: inline-block;
	}

}



/* ---------------                      BreakPoint 5 - 550px         -----------------------*/
@media screen and (max-width: 550px){
	
	.song-description span{
		font-size: 13px;
	}

	.aside-song-container{
		min-width: auto;
	}
 	
 	#random-icon{
		display: none;
	}

	.player-controller audio{
		font-size: 0.9rem;
	}

	#expand i{
		font-size: 1.2rem;
		margin: 0.2rem;
	}

	.footer-container {
    	width: 13%;
	}

	.player-controller {
    	width: 50%;
	}

	#cb2{
		display: none;
	}

	#cb1{
		display: none;
	}

	.song-description{
		display: none;
	}

	.aside-song-container{
		justify-content: flex-start;
	}

	.aside-song-container{
 	   min-width: 340px;
	}

}


/* ---------------                      BreakPoint 5 - 480px   [ FOR MOBILE ]        -----------------------*/
@media screen and (max-width: 480px){ 

	

	.aside-song-container{
		height: 43vh;
	}

	.song-pic{
		width: 93%;
	}

	.song-description{
		display: none;
	}

	/* PlayList  */
	
}