body{
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	/*position: absolute;*/
	/*color: white;*/
}

/*to align items properly*/
h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
}

/*header class*/

.header{
	/*border: 1px solid white;*/
	background-image: linear-gradient(to left, #434343 5%, black 100%);
	
	height: 85px;
	min-height: 80px;
	width: auto;
	/*min-height: 80px; */
	display: flex;
	flex-direction: row;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	transition: all 1s ease-in-out;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 50000;
}	

.header > div{
	display: inline-block;
}

.logo-heading > div{
	display: inline-block;
	vertical-align: middle;
}


/*Logo pic*/
.logo-pic img{
	width: 4.5rem;
	height: 4.5rem;
	margin-bottom: -4px;
	padding: 2px;
}

.logo-name > h1{
	color: white;
}

.logo-name > h2{
	color: #ffc5c9;
	text-transform: uppercase;
}


/*Favourites Button*/

#fav-button{
	color: white;
	transition: 0.3s ease-in-out;
	font-size: 1.85rem;
}

.favourites-button{
	/*position: relative;*/
	/*z-index: 20;*/
}

#fav-button:hover{
	/*padding: 5px;*/
	border:4px solid blue;
	box-shadow: 0px 0px 2px 2px white;
	/*margin-right: -8px;	*/
}

/*Search Bar*/

.search-bar{
	position: relative;
	min-width: 25%;
	overflow: hidden;
	/*z-index: 10000;*/
}

.search-bar form input{
	background-color: pink;
	border-radius: 25%;
	text-align: center;
	font-size: 20px;
	width: 100%;
	overflow: hidden;
	height: 1.8rem;
}

.search-icon{
	position: absolute;
	font-size: 1.35rem;
	right: 0%;
	margin-right: 5px;
	margin-top: 6px;
	transition: 1s ease-in-out;
}

.search-bar:hover #search-icon{
	transform:translateX(-25rem) rotate(90deg);
}

.user-pic img{
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	transition: 1s ease-in-out;
}

.user-name{
	display: inline-block;
	position: absolute;
	transform: scale(0) translateY(1.5rem) translateX(-1.8px) rotate(179deg);
	transition: 1s ease-in-out;
}

.user-pic:hover #username{
	font-size: 20px;
	transform: scale(1.2) translateY(0.8rem) translateX(1rem) translateX(-2.8rem);
	color: white;
	font-family: serif;
}

.user-pic:hover img{
	transform: translateX(-3.6rem);
}

input:focus,
select:focus,
button:focus {
    outline: none;
}


/*---------------               Main + Aside             ---------------------*/

#main-aside{
	border: 2px solid yellow;
	height: 100%;
	width: 95%;
	position: fixed;
	left: 2.5%;
	top: 15vh;
	right: 2.5%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: row;*/
	justify-content: space-around;
}

/*------------------                Main             ----------*/

main{
	display: inline-block;
	/*position: absolute; */
	border: 2px solid white;
	padding-bottom: 14%;
	height: inherit;
	width: 75%;
	
	overflow: scroll;
	top: 0;
	left: 0;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: white;
}


aside{
	/*position: absolute;*/
	display: inline-block;
	padding-bottom: 14%;
	top: 0;
	right: 0;
	color: white;
	box-sizing: border-box;
	position: relative;
	border:2px solid green;
	height: inherit;
	overflow: scroll;
	width: 23%;
}

																					

																					/*MAIN*/
#jumbotron-container{
	height: auto;
	width: 100%;

	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.jumbotron-cover-pic{
	border: 1px solid yellow;
	width: 45%;
	height: 55vh;
	min-width: 250px;
}

.jumbotron-cover-pic img{
	height: 100%;
	width: 100%;
}

.playlist-details{
	border: 1px solid yellow;
	height: 40vh;
	width: 53%;
	min-width: 300px;
	padding: 0px 10px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	box-sizing: border-box;
	overflow: hidden;
}

.playlist-name{
	height: 20%;
	width: 100%;
	border: 1px solid cyan;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.band-name{
	color: whitesmoke;
	height: 100%;
}

.band-name h1{
	font-family: sans-serif;
	margin: 0px;
}

.band-name span{
	font-size: 1rem;
	/*margin: 0.5rem;*/
	margin-bottom: 0px;
	color: ghostwhite;
	font-weight: lighter;
}

.followers{
	margin-top: -8%;
	height: inherit;
	color: ghostwhite;
	font-size: 1.5rem;
}

.playlist-desc{
	color: ghostwhite;
	margin-top: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.playlist-desc p{
	text-align: justify;
	line-height: 1.3;
	word-spacing: 0.1rem;

	box-sizing: border-box;
}

.playlist-controls{
	margin-top: 5%;
	height: auto;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
}


.play-button{
	width: auto;
}



.play-button p{
	font-size: 0.9rem;
	margin: 1rem;
	margin-bottom: 0;
	color: yellow;
}


.btn-grad {
	background-image: linear-gradient(to right, #424242 0%, black 50%, #424242 100%);
}

.btn-grad{
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	/*box-shadow: 0 0 20px #eee;*/
	/*border-radius: 10px;*/
	border: none;
	display: block;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
         
.follow-button{
	margin: 10px;
	padding: 12px 45px;
	background-image: linear-gradient(to right, #424242 0%, black 50%, #424242 100%);
	margin-top: -10px;
	transition: 0.5s;
	background-size: 200% auto;
	/*transition: 1s all ease-in-out;*/
}
    
.follow-button button{
	border: 2px solid black;
	background: transparent;
	border: none;
	font-size: 1rem;
	color: white;	
} 

.follow-button:hover{
	background-position: right center;
}
         
/*--------------             Playlist Section        ----------------*/

#playlist-songs{
	height: auto;
	width: 100%;
	margin-top: 5vh;
	border: 2px solid white;
	display:  flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.song-container{
	border: 1px solid yellow;
	width: 100%;
	height: 9vh;
	margin-bottom: 1.5vh;
	min-width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}	

.song-container-left{
	border: 1px solid green;
	width: 60%;
	height: inherit;
	min-width: 300px;

	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	box-sizing: border-box;
}

.song-container-left img{
	height: 80%;
	width: 7vh;
	margin-left: 1rem;
}

.song-container-left > span{
	font-size: 0.9rem;
	margin-left: 1rem;
}

.song-container-left p{
	margin-left: 0;
	margin-left: 1rem;
}

.song-container-right{
	border: 1px solid white;
	width: 15%;
	height: inherit;
	min-width: 130px;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;

	box-sizing: border-box;
}

.song-container-right i{
	font-size: 0.9rem;
	margin: 1.5rem;
}

.gradient-animation{
	background-image: linear-gradient(to left, #262626 20%, black 40%, #262626 80%);
	transition: 0.7s;
	background-size: 200% auto;
}

.gradient-animation:hover{
	background-position: right center;
}


/*-----------     Aside       ----------*/

/*Aside Section Heading*/
.aside-section-heading{
	margin-top: 3vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
}

.aside-section-heading h1{
	margin-bottom: 1.4rem;
}

.aside-section-heading span{
	font-size: 1rem;
	text-align: right;
	color: lightgray;

	margin-bottom: 2vh;
}

/*----------       Similar Artists Section --------*/

#similar-artist{
	width: 100%;
	height: auto;
	
	border: 1px solid yellow;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	box-sizing: border-box;
}

.artist-container{
	width: 100%;
	height: 11vh;

	border: 1px solid cyan;

	margin-bottom: 1.7vh ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;

	/*overflow: hidden;*/
	min-width: 230px;
	position: relative;
}

.artist-container-left{
	height: inherit;
	width: 70%;

	display: flex;
	flex-wrap: wrap;
	justify-content :space-around;
	align-items: center;
}

.artist-container-left img{
	height: 100%;
	width: 11vh;
}

.artist-container-left:hover{
	opacity: 0.6;
}

